{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:import/typescript",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": [
    "jest",
    "prettier",
    "@typescript-eslint",
    "react"
  ],
  "rules": {
    "array-bracket-spacing": "off",
    "object-curly-newline": "off",
    "max-len": [
      "error",
      {
        "code": 160
      }
    ],
    "import/extensions": [
      0,
      ".js",
      ".jsx",
      ".ts",
      ".tsx"
    ],
    "prettier/prettier": [
      "error"
    ],
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "hrefLeft",
          "hrefRight",
          "to"
        ],
        "aspects": [
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/no-static-element-interactions": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-multi-assign": "off",
    "max-classes-per-file": "off",
    "no-alert": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
